html {
  box-sizing: border-box;
  font-family: Roboto, Arial, Sans Serif, Noto, YT Sans, Roboto Mono;
}

body {
  margin: 10px 10px;
  line-height: 1.4;
}

.nav-container {
  color: white;
  padding: 0.6rem 0.6rem;
}

button {
  background-color: white;
  border: 0;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.nav-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20% 1fr 5% 5% 5% 5% 5%;
  grid-template-rows: auto;

}

.userOptions {
  margin-top: -20px;
  grid-column-gap: 15px, 40px;
}

#YTLogo {
  column-fill: 100%;
  height: 20;
  width: 179px;
}

#searchBox {
  width:30rem;
  max-width: 100%;
  height: 1.9rem;
  margin-left: 40px;
  align-items: end;
}

#searchButton {
  margin-top: -90px;
  height: 1.9rem;
  min-width: 1.5rem;


}

.videoArea{
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
   'videoBox videoBox sidebar'
   'videoBox videoBox sidebar'
   'tittle . sidebar'
   'vidData vidData sidebar'
   'vidData vidData sidebar'
   'vidData vidData sidebar'
   'videoDescription .  sidebar';
   padding: 3rem;
}

/* .sidebar{

   overflow-x: hidden;
   overflow-y: auto;
} */


.item-A {
  grid-area: videoBox;
}
.item-B {
  display: grid;
  grid-area: vidData;
  grid-gap: 1rem;
  grid-template-areas:
  'avatar userName . . . . .'
  'avatar imgSubscribe . . . . views'
  'addVideo shareButtn moreBtn . . dislike like'
  'addVideo shareButtn moreBtn . . dislike like'
  'addVideo shareButtn moreBtn . . dislike like'
}

}
.item-C {

  /* grid-area:videoDescription; */

}
.item-D {
 grid-area: sidebar;
 overflow-x: hidden;
 overflow-y: auto;
}

.item-E {
  grid-area:tittle;
}

.vin-A {
  grid-area: avatar;
  background: url(Images/avatar..png);
  background-repeat: no-repeat;
  background-size: 5rem 5rem;
  background-position: center;

}
.vin-B {
  grid-area: userName;
  text-decoration: none;
  color: auto;
}
.vin-C {
  grid-area: imgSubscribe;
  background: url(Images/subscribeButton.png);
  background-repeat: no-repeat;
  background-size: 15rem 5rem;
  background-position: center;
}
.vin-D {
  grid-area: shareButtn;
  background: url(Images/share.png);
  background-repeat: no-repeat;
  background-size: 10rem 3.6rem;
  background-position: center;
}
.vin-E {
  grid-area: views;
}
.vin-F {

  grid-area: like;
  background: url(Images/like.png);
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
  background-position: center;

}

.vin-G {

  grid-area: dislike;
  background: url(Images/dislike.png);
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
  background-position: center;
}
.vin-H{

grid-area: addVideo;
background: url(Images/addvideo.png);
background-repeat: no-repeat;
background-size: 4rem 4rem;
background-position: center;

}

.comments{
  grid-area: videoDescription;

}
