html {
  box-sizing: border-box;
  font-family: Roboto, Arial, "Sans Serif", Noto, "YT Sans", "Roboto Mono";
}

body {
  margin: 10px 10px;
  line-height: 1.4;
}

button {
  background-color: white;
  border: 0;
}

.wrapper {
  display: grid;
}

/*NavBar Area*/
.nav-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 7fr 3fr;
  color: white;
  padding: 0.6rem 0.6rem;
  max-height: 3rem;
  overflow: hidden;
  margin-bottom: 3rem;

}

.userOptions {
margin-left: 7rem;
margin-top: -0.5rem;
overflow: inherit;
justify-content:left;

}

.searchArea {
  border: solid 0.5px;
  margin-top: -0.5rem;
  border-right: none;
  justify-self: center;
  color: white;
  padding: 0.6rem 0.6rem;

}

.searchBox {
  width: 45rem;
  max-width: 100%;
  height: 1.9rem;
  margin-left: 40px;
  align-items: stretch;
}

.sButton {
  background: url("Images/lupa.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 1.9rem;
  width: 4rem;
  margin-left: -0.1rem;
  border-left: none;
  border: solid 0.5px;
  border-color: grey;
  align-self: center;
  position: absolute;

}

#YTLogo {
  height: 20px;
  width: 179px;
  align-self: stretch;
}


/*NavBar Area*/
/* #searchButton {
  border: black;
  display: inline-flex;
  align-self: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  stroke: none;
  width: 20px;
  height: 20px;
  opacity: 1;
  grid-column: 2;
} */

.videoArea {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'videoBox videoBox .sidebar'
    'videoBox videoBox .sidebar'
    'tittle . . sidebar'
    'vidData vidData . sidebar'
    'vidData vidData . sidebar'
    'vidData vidData . sidebar'
    'videoDescription videoDescription . sidebar';
  padding: 3rem;
}

.sidebar{

   overflow-x: hidden;
   overflow-y: auto;
   margin
}
.item-A {
  grid-area: videoBox;
  margin-left: 0.7rem;
  height: 30rem;
  width: 50rem;
  background-color: black;
}

.item-B {
  display: grid;
  grid-area: vidData;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr


  /* grid-template-areas:
    'avatar userName . . . . .'
    'avatar imgSubscribe . . . . views'
    'addVideo shareButtn moreBtn . . dislike like'
    'addVideo shareButtn moreBtn . . dislike like'
    'addVideo shareButtn moreBtn . . dislike like'; */
}

.item-C {
  /* grid-area:videoDescription; */
}

.item-D {
  grid-area: sidebar;
  overflow-x: hidden;
  overflow-y: auto;
}

.item-E {
  grid-area: tittle;
  font-size: 25px;
  line-height: normal;
  font-weight: 500;
  margin-left: 15px;
}

.vin-A {
  /* grid-area: avatar; */
  background: url(Images/avatar..png);
  background-repeat: no-repeat;
  background-size: 7rem 7rem;
  /* background-position: center; */
  margin-top: 1rem;
  grid-column-start: 1;
  grid-row: 1/3;
  align-items: stretch;
}

.vin-B {
  /* grid-area: userName; */
  grid-column: 2;
  grid-row: 1;
  font-weight: bold;
  color: rgb(51, 51, 51);
  text-decoration: none;
  align-self: start;
}

.vin-C {
  /* grid-area: imgSubscribe; */
  background: url(Images/subscribeButton.png);
  background-repeat: no-repeat;
  /* background-size: 15rem 5rem;
  background-position: center; */
  grid-column: 2;
  grid-row: 2;

}

.vin-D {
  /* grid-area: shareButtn; */
  background: url(Images/share.png);
  background-repeat: no-repeat;
  background-size: 5rem 2.6rem;
  background-position: center;
  grid-column: 2;
  grid-row: 2;
  margin-top: 3rem;
  margin-left: -10rem;
  align-items: start;

}

.vin-E {
  /* grid-area: views; */
  grid-column: 5;
  line-height: 24px;
  text-align: left;
  font-size: 19px;
  color: rgb(102, 102, 102);
}

.vin-F {
  /* grid-area: like; */
  background: url(Images/like.png);
  background-repeat: no-repeat;
  /* background-size: 5rem 2.6rem */
  background-position: left;
  margin-top: 3rem;
  grid-column: 5;
  grid-row: 2;

}

.vin-G {
  /* grid-area: dislike; */
  background: url(Images/dislike.png);
  background-repeat: no-repeat;
  /* background-size: 3rem 3rem; */
  background-position: center;
  margin-top: 3rem;
  grid-column: 5;
  grid-row: 2;
}

.vin-H {
  /* grid-area: addVideo; */
  background: url(Images/addvideo.png);
  background-repeat: no-repeat;
  background-size: 4rem 4rem;
  background-position: center;
  grid-column: 1;
  grid-row: 2;
  margin-top: 3rem;
  margin-left: -3rem;
  align-items: start;
}

.comments {
  grid-area: videoDescription;
}

.comments {
  grid-area: videoDescription;
  display: flex;
  flex-direction: column;
  column-gap: 10rem;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 25rem;
}
